*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: yellow;
}
.container-game{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.game{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.game img{
    width: 200px;
}
.game img:hover{
    box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
}